@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-screen-300 {
        height: 300vh;
    }
    .opacity-100-important {
        opacity: 1!important;
    }  
}

/* CSS RESET AD HOC */

#root {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 120%;

}

button {
    font-weight: 300;
}